<!-- Welcome / Scrape Button Div -->
<div class="container text-center scrape-container">
  <h3><strong>Welcome to Mongo Scraper: Kotaku Edition</strong></h3>
  <p>
    Click the Scrape button below to scrape Kotaku's video game blog for articles.
    Once the scrape is complete, you will receive an alert with the results of the scrape.
  </p>
  <p>
    For each article, we provide an image, the article title, a link to read the article
    on Kotaku, and some Kotatu stats (number of comments and stars).
  </p>
  <p>
    When you click the save button, a bookmark icon will be added to the article.
    Over on the Saved page, you can view all saved articles and remove articles from
    the saved list.
  </p>
  <p>Enjoy!</p>
  <button type="button" class="btn scrape-btn solid-btn">Scrape</button>
</div>

{{#each articles}}
  <div class="card article-card">

    {{#if saved}}
    <i class="fas fa-bookmark"></i>
    {{/if}}

    <img class="card-img-top" src="{{imageLink}}">
    <div class="card-body article-card-body">

      <h5 class="card-title"><strong>{{title}}</strong></h5>

      <div class="row button-row text-center">
        <div class="col-12">
          <a href="{{link}}" target="_blank" class="btn solid-btn">Read</a>
          <button type="button" class="btn trans-btn change-status-btn" data-id={{id}} data-new-status="true">Save</button>
        </div>
      </div>

      <div class="row stats-row">
        <div class="col-12 stats-col">
          <p class="stats"><i class="far fa-star article-icon"></i>&nbsp;{{numStars}} Stars</p>
          <p class="stats"><i class="far fa-comment article-icon"></i>&nbsp;{{numComments}} Comments</p>
        </div>
      </div>

    </div>
  </div>
{{/each}}
